body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead{
    background-color: #f2f2f2;
}

th,
td {
  padding: 12px;
  border: 0 solid #333;
  text-align: left;
  box-sizing: border-box;
}

tr[class="read"] {
  background-image: linear-gradient(to right, #d4edda, #ffffff);
}

tr[class="to-read"] {
  background-image: linear-gradient(to right, #fff3cd, #ffffff);
}

tr[class="in-progress"] {
  background-image: linear-gradient(to right, #cce5ff, #ffffff);
}

span {
  display: inline-block;
}

tr[class="to-read"] span[class="status"] {
  border: 2px solid orange;
  background-image: linear-gradient(to right, #fff3cd, #ffeeba);
}

tr[class="read"] span[class="status"] {
  border: 2px solid green;
  background-image: linear-gradient(to right, #d4edda, #c3e6cb);
}

tr[class="in-progress"] span[class="status"] {
  border: 2px solid blue;
  background-image: linear-gradient(to right, #cce5ff, #b8daff);
}

span[class="status"] {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 20px;
  text-align: center;
  white-space: nowrap;
}

span[class="status"], span[class^="rate"] {
  height: 20px;
  width: 100px;
  padding: 5px;
}
span[class^="rate"] > span{
border:1px solid gray;
border-radius:50%;
padding:2px;
 margin:2px;
  height:20px;
  width:20px;
  background-color:whitesmoke;
}

span[class~="one"] {
  background-image: linear-gradient(to right, #ffd700 20%, transparent 20%);
}

span[class~="two"] {
  background-image: linear-gradient(to right, #ffd700 40%, transparent 40%);
}

span[class~="three"] {
  background-image: linear-gradient(to right, #ffd700 60%, transparent 60%);

}
span[class~="one"] span:first-child{
  background-image: linear-gradient(to right, #f7dc6f 100%, transparent 100%);
}
span[class~="two"] span:nth-child(-n+2){
  background-image: linear-gradient(to right, #f7dc6f 100%, transparent 100%);
}
span[class~="three"] span{
  background-image: linear-gradient(to right, #f7dc6f 100%, transparent 100%);
}